body {
	margin: 0;
}

.cell {
	float: left;
	width: 40px;
	height: 40px;
	border: solid;
	border-radius: 40px;
	display: grid;
	align-items: center;
	text-align: center;
	vertical-align: middle;
}

#table {
	border: solid;
	width: 900px;
	max-width: 900px;
}

#ui > span {
	margin-top: 20px;
	margin-left: 10px;
	float: none;
	font-size: xx-large;
	border-style: solid;
	border-radius: 5px;
	width: 40px;
	text-align: center;
}

.ticket {
	margin-top: 20px;
	max-width: 240px;
	float: left;
}
